PORT=5000
VERIFY_TOKEN=chatbot2026
WHATSAPP_TOKEN=your_whatsapp_access_token_here
PHONE_NUMBER_ID=1188105267730354

MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/Manufacturing_Unit
MONGODB_USER=user
MONGODB_PASS=password
MONGODB_DB=Manufacturing_Unit

COMPANY_PROFILE_COLLECTION=companyProfiles_testing

BROCHURE_URL=https://drive.google.com/uc?export=download&id=1pYLyXBz9o_KK00hwWm3t_jnoMxw-3LR8
SUPPORT_PHONE=+919440031617
SUPPORT_EMAIL=info.comaas@gmail.com
WEBSITE_URL=https://www.sruthitechnologies.com
