PORT=5000
VERIFY_TOKEN=chatbot2026
WHATSAPP_TOKEN=your_whatsapp_cloud_api_access_token
PHONE_NUMBER_ID=102705112837548
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.ol89r1y.mongodb.net/getdata?retryWrites=true&w=majority
